body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: white;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-creams-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease,
    background-color 0.5s ease;

  transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-color: inherit;
  background-image: url("../img/ice-creams-2.png");
}

.site-wrapper:after {
  background-color: inherit;
  background-image: url("../img/ice-creams-3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

a {
  font-size: 16px;
  line-height: 18px;

  color: white;

  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
}

a:hover {
  color: #ffbc9e;
  border-bottom-color: #a7a294;
}

a:active {
  color: #bdab96;
  border-bottom-color: #a7a294;
}

a.bright {
  color: #323232;
  border-bottom-color: #b2b2b2;
}

a.bright:hover,
.bright:active {
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

.input-field {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 267px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 24px;

  color: #323232;
  border: 1px solid rgba(70, 70, 70, 0.48);

  border-radius: 3px;
  min-height: 29px;
  outline: none;
}

.input-field:hover input[type="text"]:not(.label-hide):not(:focus),
.input-field:hover input[type="email"]:not(.label-hide):not(:focus),
.input-field:hover input[type="password"]:not(.label-hide):not(:focus),
.input-field:hover textarea:not(.label-hide):not(:focus) {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;

  border: 2px solid rgba(56, 74, 93, 0.48); 
}

input[type="text"]:not(.label-hide):focus,
input[type="email"]:not(.label-hide):focus,
input[type="password"]:not(.label-hide):focus,
textarea:not(.label-hide):focus {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;

  border: 2px solid rgba(46, 136, 228, 0.48); 
}

input[type="text"]:not(.label-hide) + label,
input[type="email"]:not(.label-hide) + label,
input[type="password"]:not(.label-hide) + label,
textarea:not(.label-hide) + label {
  position: absolute;
  top: 10px;
  left: 15px;

  display: block;

  font-size: 16px;
  line-height: 24px;

  color: #999999;

  cursor: text;
}

input[type="text"]:not(.label-hide):focus + label,
input[type="email"]:not(.label-hide):focus + label,
input[type="password"]:not(.label-hide):focus + label,
textarea:not(.label-hide):focus + label {
  position: absolute;
  top: -15px;
  left: 15px;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

input[type="text"].label-hide + label,
input[type="email"].label-hide + label,
input[type="password"].label-hide + label,
textarea.label-hide + label {
  position: absolute;
  top: -15px;
  left: 15px;

  font-size: 11px;
  line-height: 13px;

  color: #999999;
}

.input-field-newsletter:hover input:not(.label-hide):not(:focus):hover:first-child,
.input-field-newsletter:hover input:not(.label-hide):focus:hover:first-child,
.input-field-newsletter input:focus:not(.label-hide):first-child {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.input-field-newsletter .label-hide:not(:focus):first-child,
.input-field-newsletter:hover .label-hide:hover:not(:focus):first-child
.input-field-newsletter .label-hide:hover:first-child,
.input-field-newsletter .label-hide:focus:first-child  {
  padding-top: 8px;
  padding-right: 1px;
  padding-bottom: 7px;
  padding-left: 14px;

  border: 1px solid rgba(70, 70, 70, 0.48);
}

.input-field-newsletter .label-hide:first-child {
  padding-top: 7px;
  padding-right: 1px;
  padding-bottom: 6px;
  padding-left: 14px;
}

.common-buttons-input-field label:last-child {
  font-size: 14px;
}

.main-header {
  padding: 0px;
  padding-top: 10px;

  min-height: 35px;
}

.main-header img {
  float: left;
  width: 153px;
  height: 63px;
  margin-left: -6px;

  vertical-align: bottom;
}

.main-navigation {
  float: left;
  width: 688px;
  margin-right: 13px;
  list-style: none;
}

.main-navigation ul {
  margin: 0;
  margin-left: 30px;
  padding: 0;

  font-size: 0;
}

.main-navigation-first-li:first-child {
  margin-left: -12px;
}

.main-navigation li {
  position: relative;

  display: inline-block;
  margin-top: 5px;
  margin-left: -4px;
  padding-top: 8px;
  padding-bottom: 18px;

  min-height: 18px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  margin: 8px 15px 6px 15px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.main-navigation-li:hover > a,
.main-navigation a:active {
  margin: 0;
  margin-right: 4px;
  margin-left: 1px;
  padding: 7px 12px 6px 14px;

  font-weight: 700;

  color: black;

  border-radius: 14px;
}

.main-navigation-first-li:hover > a,
.main-navigation-first-li a:active {
  margin-right: 3px;
}

.main-navigation-li:hover > a {
  background: #f7f6f3;
}

.main-navigation a:active {
  background: #ededed;

  box-shadow: inset 0px 2px 1px #696969;
}
.main-nav-active:first-of-type {
  margin: 0;
  margin-right: 3px;
  margin-left: 1px;
  padding: 7px 12px 6px 14px;

  background-color: #d07058;
  border: 0;

  border-radius: 14px;
}

.main-navigation-sub li:first-child {
  margin-left: 0;
}

.logo-href:first-child {
  display: block;
  margin: 0;
  padding: 0;

  border: 0;
}

.logo-href:first-child img {
  margin-right: 30px;
}

.logo-href:first-child:hover {
  margin: 0;
  padding: 0;

  border: 0;
}


.logo-href:first-child:active {
  margin: 0;
  padding: 0;

  border: 0;
}

.main-navigation-sub {
  position: absolute;
  top: 45px;
  left: -38px;

  display: none;
  width: 143px;
  padding: 0;

  color: #323232;
  background-color: #f8f7f4;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

li:hover .main-navigation-sub {
  display: block;

  z-index: 100;
}

.main-navigation-sub li {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 3px;
  padding: 0;
}

.main-navigation-sub li:first-child {
  display: block;
  width: 113px;
  margin-right: 8px;
  margin-top: 0px;
  margin-left: 6px;
  padding-top: 11px;
  padding-bottom: 4px;
  padding-left: 16px;

  border-bottom: 1px solid #d1d0ce;

  min-height: 17px;
}

.main-navigation-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: black;
}

.main-navigation-sub a {
  display: block;
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 16px;

  color: #323232;
  border: 0;
}

.main-navigation-sub a.active {
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;

  background-color: #d07058;

  border-radius: 0;
  box-shadow: none;
}

.main-navigation-sub a:hover,
.main-navigation-sub a:active {
  font-weight: 400;
}

.main-navigation-sub a:hover {
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;

  color: #323232;
  background-color: #fbded7;

  border-radius: 0;
}

.main-navigation-sub a:active {
  width: 111px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;

  color: #323232;
  background-color: #f6b5a5;

  border-radius: 0;
  box-shadow: none;
}

.common-buttons {
  position: relative;

  float: right;
  width: 284px;
  margin-left: 5px;
  padding: 13px 0px 0px 0px;

  font-size: 0;

  min-height: 34px;
}

.common-buttons-float {
  float: right;
}

.common-buttons .btn {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 8px;

  font-size: 14px;
  line-height: 16px;

  border: 0;
  background-color: #9db1a5;

  border-radius: 16px;
  vertical-align: top;
}

.common-button-wrap {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-bottom: 6px;

  font-size: 0;

  vertical-align: top;
}

.common-buttons .btn-basket-active:last-of-type {
  padding-left: 44px;
  padding-right: 16px;

  color: #323232;
  background-color: #f8f7f4;  
}

.common-buttons .btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.common-buttons .common-button-wrap:first-child {
  width: 32px;
  margin-left: 6px;
}

.common-buttons .common-button-wrap:nth-child(2) {
  margin-right: 8px;
}

.common-buttons .common-button-wrap:last-of-type {
  margin-right: 0;
}

.common-buttons .btn-search {
  width: 0;
  height: 16px;
  padding-left: 24px;

  font-size: 0px;
}

.btn-search::before { 
  content: "";  
  position: absolute;
  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;

  background-color: inherit;
  background-image: url("../img/sprite-common-buttons.png");
  background-repeat: no-repeat; 
  background-position: -5px -123px;
}

.btn-search:hover:before {
  background-position: -5px -150px;
}

.common-buttons .btn-login {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 44px;
}

.btn-login::before { 
  content: "";  
  position: absolute;
  top: 6px;
  left: 16px;

  width: 20px;
  height: 19px;

  background-color: inherit;
  background-image: url("../img/sprite-common-buttons.png");
  background-repeat: no-repeat; 
  background-position: -5px -65px;
}

.btn-login:hover::before {
  background-position: -5px -94px;
}

.common-buttons .btn-basket {
  padding-right: 34px;
  padding-left: 45px;
}

.btn-basket::before { 
  content: "";  
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;

  background-color: inherit;
  background-image: url("../img/sprite-common-buttons.png");
  background-repeat: no-repeat; 
  background-position: -5px -5px;
}

.btn-basket-active::before,
.btn-basket:hover::before {
  background-position: -5px -35px;
}

.common-buttons .btn:last-child {
  margin-right: 0;
}

.common-buttons-form {
  position: absolute;

  display: none;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.common-button-wrap:hover .common-buttons-form {
  display: block;
}

/*
 IT DOESN'T WORK!
.common-buttons-form label {
  font-size: 14px;
}
*/

.common-buttons-form-search input {
  width: 294px;
}

.common-buttons-form-search .input-field {
  margin: 20px 15px;
}

.common-buttons-form-login .input-field {
  width: 223px;
  margin-bottom: 20px;
}

.common-buttons-form-search {
  top: 49px;
  left: -285px;

  width: 340px;

  min-height: 84px;
}

.common-buttons-form-login {
  top: 49px;
  left: -117px;

  width: 241px;
  padding: 20px 17px 14px 19px;

  min-height: 174px;
}

.common-buttons-form-basket {
  top: 49px;
  right: 0;
  width: 509px;
  padding: 20px 14px 19px 17px;

  font-size: 13px;
  line-height: 18px;

  color: #323232;

  min-height: 203px;
}

.basket-item {
  padding-bottom: 11px;

  min-height: 32px;
  vertical-align: top;
}

.basket-item-last {
  padding-bottom: 14px;

  border-bottom: 1px solid #cacac7;
}

.basket-item-delete {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  margin-top: 10px;

  background-color: inherit;
  background-image: url("../img/catalog/x.svg");
  border: 0;
  vertical-align: top;
}

/*
.basket-item-delete::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 10px;
  height: 1px;

  background-color: black;

  transform: rotate(45deg);
}

.basket-item-delete::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 10px;
  height: 1px;

  background-color: black;

  transform: rotate(-45deg);
}
*/

.common-buttons-form-basket img {
  position: relative;
  top: -8px;

  width: 33px;
  height: 33px;
  margin-right: 14px;

  border-radius: 50%;
}

.basket-item-title,
.basket-item-count,
.basket-item-worth {
  display: inline-block;
  padding-top: 8px;

  vertical-align: top;
}

.basket-item-title {
  width: 260px;

  margin-left: 17px;
  margin-right: 24px;
}

.basket-item-count .cost-per-kg {
  color: #999999;
}

.basket-item-count {
  margin-right: 24px;
}

.common-buttons-form-basket .total,
.common-buttons-form-basket .btn {
  float: right;
}

.common-buttons-form-basket .total {
  margin-top: 15px;
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 15px;
}

.common-buttons-form-basket .btn {
  padding: 9px 13px 11px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.common-buttons-form-login .btn {
  display: inline-block;
  width: 100px;

  font-size: 18px;
  line-height: 24px;

  color: white;

  min-height: 44px;
  vertical-align: top;
}

.form-login-hrefs {
  float: right;
  width: 121px;

  text-align: left;
}

.form-login-hrefs a {
  font-size: 13px;
  line-height: 24px;
}

.form-login-hrefs a:last-child {
  position: relative;

  top: -6px;
}

main {
  margin-top: 10px;
}

main .btn,
.common-buttons-form-login .btn,
.common-buttons-form-basket .btn {
  text-align: center;


  background-color: inherit;
  background-image: -webkit-linear-gradient(#e74a35, #f26843);
  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.46);
}

main .btn:hover,
.common-buttons-form-login .btn:hover,
.common-buttons-form-basket .btn:hover {
  color: white;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);

  box-shadow: 0px 1px 2px 0px #ac1000;
}

main .btn:active,
.common-buttons-form-login .btn:active,
.common-buttons-form-basket .btn:active {
  color: white;
  background-color: inherit;
  background-image: -webkit-linear-gradient(#d74632, #e1613e);
  background-image: linear-gradient(#d74632, #e1613e);

  box-shadow: inset 0px 1px 2px 0px #942718;
}

.common-buttons-form-login input[type="email"],
.common-buttons-form-login input[type="password"] {
  width: 226px;
}

.working-information p {
  margin: 0;
  margin-top: -11px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.working-information p:first-child {
  float: right;
}

.working-information p:last-child {
  margin-top: 9px;
  padding-top: 8px;

  font-size: 22px;
  line-height: 24px;  
}

.index-main-banner {
  position: relative;

  margin-top: 274px;

  min-height: 215px;
}

.index-main-banner img {
  position: absolute;
  top: -310px;
  left: 250px;

  width: 648px;
  height: 584px;

  z-index: -10;
}

.index-main-banner p {
  position: absolute;
  left: 239px;
  bottom: 55px;

  width: 670px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.index-main-banner .btn {
  position: absolute;
  left: 434px;
  bottom: 0;

  display: block;
  width: 216px;
  margin: 0 auto;
  padding: 9px 31px 10px 31px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;

  background-color: inherit;
  background-image: -webkit-linear-gradient(#e74a35, #f26843);
  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(67, 6, 0, 0.36);
  text-shadow: 0px 2px 5px #a0200b;
  min-height: 31px;
}

.index-main-banner .btn:hover {
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.index-main-banner .btn:active {

  box-shadow: inset 0px 2px 2px 0px #942718;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-creams-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-creams-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-creams-3.png");
}

.slide-btns {
  position: absolute;
  bottom: 13px;
}

.slide-btns label {
  position: relative;
  top: -8px;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;

  background-color: transparent;
  border: 2px solid #ffffff;

  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

.slide-btns label:hover {
  background-color: #b2c1b7;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: white;
}

.index-banner {
  width: 520px;
  margin-top: 41px;
  margin-bottom: 40px;
  padding: 15px 21px 23px 19px;

  min-height: 191px;
}

.index-banner:first-child {
  float: left;

  background-color: #73172b;
  background-image: url("../img/banner-raspberry.png");

  border-radius: 11px;
}

.index-banner:last-child {
  float: right;

  background-color: #3a2217;
  background-image: url("../img/banner-chocolate.png");

  border-radius: 11px;
}

.index-banner h2 {
  margin-bottom: -2px;
}

.index-banner p {
  margin-bottom: 44px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.index-banner .btn {
  display: block;
  float: right;
  padding: 10px 25px 11px 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  min-height: 24px;
}

.item,
.item-hover-content {
  position: relative;

  display: inline-block;
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  text-align: center;
  vertical-align: top;
  min-height: 322px;
}

.item-hover-content {
  margin-bottom: -22px;
}

.item-hover {
  position: absolute;
  top: -5px;
  left: -5px;

  width: 277px;
  padding: 0;

  background-color: inherit;

  border-radius: 4px;

  z-index: 45;
}

.item:hover .item-hover {
  background-color: rgba(97, 97, 96, 0.3); 

  z-index: 50;

  min-height: 353px;
}

.item:hover .btn-item-hover {
  display: inline-block;

  vertical-align: top;

  z-index: 55;
}

.btn-item-hover {
  position: absolute;
  left: 38px;
  bottom: 21px;

  display: none;
  width: 170px;
  padding: 11px 15px 1px 15px;

  font-size: 18px;
  line-height: 24px;

  min-height: 34px;
}

.item-hover-content {
  top: 5px;
  left: 5px;
}

.index-items .item::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 61px;
  height: 61px;

  background-color: inherit;
  background-image: url("../img/hit.png");

  z-index: 50;
}

.item:last-child {
  margin-right: 0;
}

.item img {
  width: 267px;
  height: 267px;
  margin-left: -2px;

  border-radius: 50%;
}

.item-price {
  position: relative;
  top: -94px;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}

.item-price span {
  font-size: 45px;
}

.item-price img {
  width: 31px;
  height: 33px;
  margin-left: -8px;

  border-radius: 0;
}

.item-hover-content a {
  position: relative;
  top: -102px;

  line-height: 22px;

  z-index: 20;
}

.item-wrap-a {
  width: 258px;
  margin: 0 auto;
}

.index-about {
  margin-bottom: 40px;
  padding: 25px 15px 22px 20px;

  font-size: 16px;
  line-height: 22px;

  color: #323232;
  background-color: #eadcbe;
  background-image: url("../img/pattern-wafer.png");
  background-repeat: repeat-x;

  min-height: 246px;
  border-radius: 15px;
}

.index-about p {
  margin: 0;
}

.index-about p {  
  width: 488px;
  padding-left: 57px;

  background-repeat: no-repeat;
}

.index-about > p {
  width: auto;
  margin-bottom: 10px;
  padding-left: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.index-about-left {
  float: left;
  margin-right: 20px;
}

.index-about-right {
  float: right;
}

.index-about-left p:nth-child(1),
.index-about-right p:nth-child(1) {
  padding-top: 10px;
}

.index-about-left p:nth-child(2),
.index-about-right p:nth-child(2) {
  padding-top: 25px;

  background-position: 0px 10px;
}

.index-about-left p:nth-child(1) {
  background-color: inherit;
  background-image: url("../img/ice-cream.svg");
}

.index-about-left p:nth-child(2) {
  background-color: inherit;
  background-image: url("../img/leaf.svg");
}

.index-about-right p:nth-child(1) {
  background-color: inherit;
  background-image: url("../img/cow.svg");
}

.index-about-right p:nth-child(2) {
  background-color: inherit;
  background-image: url("../img/thermometer.svg");
}

.index-new-post, .index-newsletter {
  margin-bottom: 40px;

  color: black;
}

.index-new-post {
  width: 540px;
  float: left;
  padding: 22px 0px 0px 20px;

  font-size: 16px;
  line-height: 22px;

  background-color: white;
  background-image: url("../img/new-post-strawberry.png");

  min-height: 198px;
  border-radius: 11px;
}

.index-new-post p {
  margin: 0;
  margin-bottom: 5px;
}

.index-new-post a {
  display: inline-block;
  width: 290px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: black;

  border: 0;
  text-decoration: underline;
  vertical-align: top;
}

.index-newsletter {
  float: right;
  width: 560px;

  background-color: #f8f7f4;
  background-image: url("../img/newsletter-mail.png");

  border-radius: 11px;
  min-height: 220px;
}

.index-newsletter .wrap {
  width: 511px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 29px 18px 29px 21px;

  background-color: #f8f7f4;

  min-height: 151px;
  vertical-align: middle;
  border-radius: 10px;
}

.index-newsletter p {
  margin: 0;
  margin-bottom: 37px;

  font-size: 16px;
  line-height: 22px;
}

.index-newsletter input[type="email"] {
  width: 349px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;

  border: 1px solid rgba(70, 70, 70, 0.48);

  border-radius: 4px;
  min-height: 13px;
}

.index-newsletter input[type="submit"] {
  position: relative;
  left: 6px;
  top: -1px;

  width: 130px;
  height: 45px;

  font-size: 18px;
  line-height: 22px;

  color: white;
}

.index-map {
  position: relative;

  width: 1200px;
  height: 430px;
  margin: 0 auto;

  background-color: #e9e1c2; 
  background-image: url("../img/map-with-marker.jpg");
}

.index-map p {
  margin: 0;
}

.index-map-information {
  position: absolute;
  top: 0;
  right: 0;

  width: 277px;
  margin-top: 63px;
  margin-right: 27px;
  padding-top: 30px;
  padding-left: 25px;

  background-color: white;

  border-radius: 10px;
  min-height: 270px;
}

.index-map-information p {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 20px;

  color: black;
}

.index-map-information p:first-child {
  margin-bottom: 18px;
}

.index-map-information p:nth-child(2) {
  margin-bottom: 23px;
}

.index-map-information b,
.index-map-information .btn {
  font-size: 18px;
  line-height: 24px;
}

.index-map-phone {
  display: block;
  margin-top: 4px;
  margin-bottom: 2px;

  line-height: 22px;
}

.index-map-information .btn {
  display: inline-block;
  width: 250px;
  margin-left: 1px;
  padding-top: 9px;

  line-height: 24px;

  min-height: 36px;
  vertical-align: top;
}

.main-footer {
  padding-bottom: 25px;

  border-top: 1px solid #a9bbb1;
}

.footer-social {
  float: left;
  margin-top: 35px;
  margin-right: 205px;
}

.footer-social a { 
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 7px;

  font-size: 0;

  border: 4px solid rgba(194, 206, 199, 1.0);

  border-radius: 50%;
  opacity: 0.8;
  vertical-align: bottom;
}

.footer-social a:hover {
  opacity: 1.0;
}

.footer-social a:active {
  opacity: 1.0;
  box-shadow: inset 0px 2px 1px #888888;
}

.footer-social .social-btn-tw {
  background-color: #849d8f;
  background-image: url("../img/tw.svg");
}

.footer-social .social-btn-inst {
  background-color: #849d8f;
  background-image: url("../img/inst.svg");
}


.footer-social .social-btn-fb {
  background-color: #849d8f;
  background-image: url("../img/fb.svg");
}


.footer-social .social-btn-vk {
  background-color: #849d8f;
  background-image: url("../img/vk.svg");
}


.footer-info,
.footer-documents {
  margin-top: 33px;
}

.footer-info a,
.footer-documents a {
  display: block;

  margin-bottom: 4px;

  font-size: 13px;
  line-height: 18px;

  border: 0;
}

.footer-info a:first-of-type {
  font-weight: 700;
}

.footer-info {
  float: left;
  width: 140px;
  margin-right: 25px;
}

.footer-info a {  
  margin-left: 20px;
}

.footer-info img {
  float: left;
  width: 15px;
  height: 13px;
  margin-top: 3px;
}

.footer-documents {
  float: left;
  width: 180px;
}

.footer-info-text,
.footer-documents-text {
  border-bottom: 1px solid #9eb2a7;
}

.footer-copyright {
  float: right;
  margin-top: 18px;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright img {
  margin-bottom: 1px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs { 
  margin-top: -43px;

  color: #e4e9e6;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;

  color: #e4e9e6;
}

.breadcrumbs .raquo {
  display: inline-block;
  margin-right: 4px;
  margin-left: 7px;

  vertical-align: top;
}

.breadcrumbs ul {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 2px;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;

  vertical-align: top;
}

.breadcrumbs a {
  color: #e4e9e6;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.filters {
  margin-bottom: 40px;
}

.filters > .filters-label,
fieldset {
  display: inline-block;
  margin-right: 13px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  vertical-align: top;
}

.filters > .filters-label:first-child {
  width: 193px;
}

.filters > .filters-label:nth-child(2) {
  width: 218px;
  height: 58px;
}

.filters-label:first-child .filter-title,
fieldset:nth-of-type(2) .filter-title {
  margin-left: 16px;
}

.filters-label:nth-of-type(2) .filter-title,
fieldset:nth-of-type(1) .filter-title {
  margin-left: 14px;
}

select[name="sort"], 
input[type="range"], 
.container-buttons, 
.btn-filter,
.filter-cost {
  height: 37px;

  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;

  background-color: #a9bab0;

  border-radius: 18px;
}

.wrap-select-sort {  
  width: 193px;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  overflow: hidden; 
  border-radius: 15px;
  min-height: 17px;
}

select[name="sort"] {
  width: 330px;
  margin: 0;
  padding: 8px 22px 7px 11px;

  background-color: #a9bab0;
  background-image: url("../img/catalog/marker.svg");
  background-repeat: no-repeat;
  background-position: 170px center;
  border: 0;

  min-height: 32px;
}

select[name="sort"]:hover {
  color: black;

  background-color: #ffffff;
  background-image: url("../img/catalog/marker-hover.svg");
}

.filter-cost {
  position: relative;

  width: 218px;
}

.filter-cost .scale {
  position: absolute;
  top: 16px;
  left: 15px;

  width: 188px;
  height: 4px;

  background-color: #ffffff;

  opacity: 0.5;
}

.filter-cost .bar {
  position: absolute;
  top: 16px;
  left: 44px;

  width: 98px;
  height: 4px;

  background-color: #ffffff;
}

.filter-cost .range-toggle {
  position: absolute;
  top: 8px;
  left: 34px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;

  border-radius: 50%;
  cursor: pointer;
}

.filter-cost .range-toggle:last-child {
  position: absolute;
  top: 8px;
  left: 132px;
}

fieldset, legend {
  margin: 0;
  padding: 0;

  border: 0;
}

fieldset label {
  position: relative;

  margin-right: 15px;
  padding: 0;

  cursor: pointer;
}

.filters input[type="radio"],
.filters input[type="checkbox"] {
  display: none;
}

fieldset:first-of-type label {
  padding-left: 29px;
}

fieldset:first-of-type label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 18px;
  height: 18px;

  border: 1px solid #ffffff;

  border-radius: 50%;
}

input[type="radio"]:disabled + label::after {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="radio"]:checked + label::before {
  content: "";

  position: absolute;
  left: 4px;
  top: 4px;

  width: 12px;
  height: 12px;

  background-color: #ffffff;

  border-radius: 50%;
}

input[type="radio"]:checked:disabled + label::before {
  content: "";

  position: absolute;
  left: 4px;
  top: 4px;

  width: 12px;
  height: 12px;

  background-color: rgba(255, 255, 255, 0.4);

  border-radius: 50%;  
}

fieldset:last-of-type label {
  margin-right: 16px;
  padding-left: 32px;
}

fieldset:last-of-type label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 18px;
  height: 18px;

  border: 1px solid #ffffff;

  border-radius: 3px;
}

input[type="checkbox"]:disabled + label::after {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:checked + label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("../img/catalog/checkbox-checked.svg");
}

input[type="checkbox"]:disabled:checked + label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("../img/catalog/checkbox-disabled.svg");
}

.container-buttons {
  height: 21px;
  padding: 10px 3px 6px 16px;
}

fieldset:nth-of-type(2) {
  margin-top: 16px;
}

fieldset:nth-of-type(2) .container-buttons {
  padding-right: 5px;}

label {
  vertical-align: top;
}

.btn-filter {
  margin: 0;
  margin-top: 37px;
  margin-left: 11px;
  padding: 5px 26px 5px 28px;

  font-weight: 500;

  background-color: #a9bab0;
  border: 2px solid white;

  min-height: 37px;
}

.btn-filter:hover {
  color: #353535;
  background-color: #ffffff;
}

.btn-filter:active {
  padding: 7px 28px 7px 30px;

  color: #353535;
  background-color: #eaeaea;
  border: 0;

  box-shadow: inset 0px 2px 1px #696969;
}

.item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-pages ul {
  position: relative;
  top: 43px;
  left: 4px;

  margin: 0;
  margin-bottom: 71px;
  padding: 0;

  font-size: 0;
  text-align: right;

  list-style: none;
  vertical-align: top;
}

.catalog-pages li {
  display: inline-block;

  vertical-align: top;
}

.catalog-pages a {
  display: inline-block;
  width: 17px;
  height: 22px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 5px 5px 0px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;

  border: 0;

  vertical-align: top;
}

.catalog-pages-li-last a {
  margin-left: 6px;
  margin-right: -6px;
}

.catalog-pages a:hover {
  color: white;
  background-color: #9db1a5;

  border-radius: 50%;
}

.paginator-btn-active,
.catalog-pages a:active {
  color: black;
  background-color: white;

  border-radius: 50%;
}

.overlay-feedback {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;

  opacity: 0.3;
  z-index: 250;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 429px;
  padding: 17px 24px 26px 26px;

  color: #323232;
  background-color: #f8f7f4;

  border-radius: 9px;
  min-height: 390px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 300;
}

.feedback p {
  margin-bottom: 22px;

  font-size: 24px;
  line-height: 28px;
}

.feedback input {
  width: 251px;  
  margin-bottom: 20px;
}

.feedback textarea {
  width: 410px;
  height: 141px;
  margin-bottom: 16px;
}

.feedback .btn {
  float: right;
  width: 138px;
  padding: 0;
  margin: 0;

  font-weight: 700;

  color: white;

  min-height: 46px;
}

.input-field-feedback:hover input[type="text"]:not(.label-hide):not(:focus):first-child,
.input-field-feedback:hover textarea:not(.label-hide):focus:first-child {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;

  background-color: inherit;
  background-image: url("../img/x.svg");
  border: 0;

  vertical-align: top;
}

.feedback-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.overlay-feedback-show {
  display: block;
}

.feedback-hide {
  display: none;
}

.overlay-feedback-hide {
  display: none;
}

h1, h2 {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

h1 {
  margin-bottom: 26px;
}

iframe {
   width: 1200px;
   height: 430px;
   border: 0;
}

@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-200%) translateX(-50%);
            transform: translateY(-200%) translateX(-50%);
  }
  80%  {
    -webkit-transform: translateY(-10%) translateX(-50%);
            transform: translateY(-10%) translateX(-50%);
  }
  90%  {
    -webkit-transform: translateY(-30%) translateX(-50%);
            transform: translateY(-30%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-200%) translateX(-50%);
            transform: translateY(-200%) translateX(-50%);
  }
  80%  {
    -webkit-transform: translateY(-10%) translateX(-50%);
            transform: translateY(-10%) translateX(-50%);
  }
  90%  {
    -webkit-transform: translateY(-30%) translateX(-50%);
            transform: translateY(-30%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}